<div class="jumbotron text-center", data-controller="nutritionix">
  <%= form_with url: foods_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query, "" , placeholder: "Enter ingredient" %>
    <%= text_field_tag :weight, "" , placeholder: "Enter weight in grams" %>
    <%= submit_tag "Search", id: "query-search", class: "btn btn-primary" %>
  <% end %>
</div>
