<div class="cards-all">
<% @gyms.each do |gym| %>
  <div class="card-gym">
    <%=link_to  gym_path(gym) do cl_image_tag gym.image.key, class: "card__image" end%>
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <div class="card__header-text">
            <h3 class="card__title"><strong><%= gym.name %></strong></h3>
            <span class="card__status"><strong>Rating:<%= gym.rating%></strong></span>
            <span class="card__status"><strong>£<%= gym.price%>/monthly</strong></span>
          </div>
          <%# <p class="card__description">Lorem ipsum dolor sit amet consectetur</p> %>
        </div>
            <p class="card__description"><strong>Read more</strong></p>
      </div>
  </div>
  <% end %>
