<<<<<<< HEAD
<div class ="all-cards">
  <div class="cards-all">
    <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </a>

      <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </a>

      <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </a>

      <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </a>

      <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </a>

      <a href="" class="card-gym">
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div class="card__header-text">
              <h3 class="card__title">Gym Name</h3>
              <span class="card__status">Rating</span>
            </div>
=======
<div class="cards-all">
<% @gyms.each do |gym| %>
  <div class="card-gym">
    <%=link_to  gym_path(gym) do cl_image_tag gym.image.key, class: "card__image" end%>
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <div class="card__header-text">


            <h3 class="card__title"><strong><%= gym.name %></strong></h3>
            <span class="card__status"><strong>Rating:<%= gym.rating%></strong></span>
            <span class="card__status"><strong>£<%= gym.price%>/monthly</strong></span>
>>>>>>> f53f8af1f59483874d6e5170e957fcfcc1f3966d
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
<<<<<<< HEAD
    </a>
  </div>
</div>
=======
            <p class="card__description">Read more</p>
      </div>
  </div>
  <% end %>
>>>>>>> f53f8af1f59483874d6e5170e957fcfcc1f3966d
