<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div class="container-show">

      <!-- Left Column / Gym Image -->
    <div class="left-column">
        <div class="carousel-wrapper">
          <div class="carousel-container">
            <div class="carousel">
              <div> <img src="https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="image-one" alt="" /></div>
              <div> <img src="https://images.unsplash.com/photo-1546817372-628669db4655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" class="image-two" alt="" /></div>
              <div> <img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="image-three" alt="" /></div>
            </div>
          </div>
        </div>
      <%# <div>
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="big-gym-image" alt="" />
      </div> %>
    </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1><%= @gym.name %></h1>
          <br>
          <p><%= @gym.description %></p>
        </div>

          <!-- Product Color -->
          <div class="product-color">
            <span><p>Rating: <%= @gym.rating %></p></span>

            <div class="ratings">

            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="reviews">
            <span>reviews...</span>
              <br>
              <br>
              <br>

          </div>

        <!-- Product Pricing -->
        <div class="membership-fee">

          <span> <p>Membership Fee: <%= @gym.price%>/per month</p></span>
          <a href="#" class="cart-btn">Book Now</a>

        </div>
      </div>
</div>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
