:root {
  --surface-color: #ff9900;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.index-whole-page {
  width: 100%;
  height: 2100px;
  background-color: #272727;

}

.find-a-gym {
  margin: auto;
  width: 30%;

}

.mt-5 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  .btn {
  background-color: #ff9900;
  border-radius: 3px;
  border: 1px solid #ff9900;
  }

  .sort-index {
    margin-top: 8px;
    color: white;
  }
}

.gym-title {
  color: white;
}
.cards-all {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: auto;
  // grid-gap: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // gap: 2rem;
  // margin: 4rem 5vw;
  // padding: 1;
  float: left;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin: 10px;
  padding: 3;
  margin-left: 20px;
}

.card-gym {
  position: relative;
  display: block;
  max-height: 27rem;
  max-width: 24rem;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card-gym:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.7em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: #ff9900;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: #ff9900;
  d: path(“M 40 80 c 22 0 40 -22 40 -40 v 40 Z”);
}

.card-gym:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.1em;
  margin: 0 0 .2em;
  color: white;
  padding-left: 10px;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: “MockFlowFont”;
  font-size: .7em;
  color: #ff9900;
}

.card__status {
  font-size: .9em;
  color: white;
  padding-left: 10px;
}

.card__description {
  font-size: 1em;
  padding: 0 1.4em 1em;
  margin: 0;
  color: white;
  font-family: “MockFlowFont”;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.map {
  float: right;
  width: 50%;
  height: auto;
  position: absolute;
  border-radius: 20px;
  margin-left: 50%;
  margin-right: 20px;
}

 .h1 {
  margin: 0;
  color: #ff9100d8;
  font-size: 100px;
  letter-spacing: 1px;
  text-align: center;
}
