.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 35px !important;
  background: #454545 !important;
  color: #ff9900 !important;
  font-size: 1rem !important;
}
