.nutri {
    display: flex !important;
    position: relative;
    bottom: 431px;
    left: 788px;
}

.background-workout{
  width: 100%;
  height: 990px;
  background-color: #272727;
  overflow-y: hidden;
  overflow-x: hidden;
}

.logo {
  height: 50%;
  width: auto;
  position: absolute;
  left: 30px;
  top: -100px;
  }

 .foodclass {
  position: relative;
    font-size: 40px;
    bottom: 751px;
    left: 841px;
    color: white;
    align-items: center;
}

.list-food {
  display: grid;
  position: relative;
  bottom: 720px;
  left: 756px;
  color: white;
  font-size: 22px;
}
h5.card-title-food, .card-title-food.h5 {
  /* margin-top: -27px; */
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1;
  color: #ff9100;
  font-size: 32px;
  margin: auto;
}

.button-28-food {
    appearance: none;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 20px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    // touch-action: manipulation;
    width: 100%;
    position: absolute;
    width: 350px;
    height: 93px;
    left: 594px;
    top: 202px;
    mix-blend-mode: color-dodge;
    border: 5px solid #FF9900;
    border-radius: 20px;
  }

  .log-btn-food {
    appearance: none;
    background-color: #FF9900;
    border-radius: 15px;
    border: 3.5px solid black;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 20px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    position: absolute;
    width: 350px;
    height: 93px;
    left: 594px;
    top: 789px;
      }

    .orange-splash {
      position: absolute;
      right: -175px;
      opacity: 70%;
    }

    .btn-nutri {
      background-color: #ff9900;
      border-radius: 3px;
      border: 1px solid #ff9900;
    }

    .second-splash {
      position: absolute;
      left: -37px;
      bottom: -67px;
      opacity: 70%;
    }

    .row-food {
      display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  margin: 10px;
  padding: 3;
  margin-left: -313px;
    }

    .btn-add-food {
      width: 100px;
    height: 50px;
    padding: 1px;
    border-radius: 10px;
    }
