.background-workout{
  width: 100%;
  height: 990px;
  background-color: #272727;
}

.logo {
  height: 50%;
  width: auto;
  position: absolute;
  left: 30px;
  top: -6vw;
  }

  .heart {
      position: absolute;
      width: 129vw;
      height: 54vw;
      left: -17vw;
      top: 9vw;
      opacity: 20%;
    }


  .card-workout {
    // position: absolute;
    width: 606px;
    height: 149px;
    left: 620px;
    top: 380px;
    background: 	#454545;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 2px 2px;

  }

.button-28 {
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  width: 20px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  position: relative;
  width: 350px;
  height: 93px;
  left: 41vw;
  top: 6vw;
  mix-blend-mode: color-dodge;
  border: 5px solid #FF9900;
  border-radius: 20px;
}

.log-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FF9900;
    border-radius: 15px;
    border: 3.5px solid black;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 42px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    width: 20px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    position: relative;
    width: 350px;
    height: 93px;
    left: 51vw;
    top: 41vw;
    }

    .btn-warning {
      border-radius: 20px;
      position: relative;
      left: 1rem;
      background-color: #ff9100;
    }

    h5.card-title, .card-title.h5 {
      /* margin-top: -27px; */
      font-family: "Nunito", "Helvetica", "sans-serif";
      font-weight: 500;
      margin: auto;
      line-height: 1;
      color: #ff9100;
      font-size: 32px;
  }
  // ADDED A NEW CSS FOR DATE !!!!
  p.card-title-date {
      color: #ff9100;
      position: relative;
      bottom: -0.5rem;
      left: 0.4rem;
      text-decoration: none !important;
      font-size: 20px;
  }

.lady {
  position: absolute;
  width: 48vw;
  height: 41vw;
  left: -11vw;
  top: 22.75vw;
}


.card-x {
  position: absolute;
  top: 400px;
  left: 625px;
}

a {
  text-decoration: none !important;
}

.modal-body {
 border:1px solid rgb(221, 144, 2);
 border-radius: 1rem;
}

.card-exercise {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: orange;
  background-color: #454545;
  left: 243px;
  bottom: -50px;
  box-shadow: 2px;
}

.exercise-background {
  width: 100%;
  height: 990px;
  background: linear-gradient(
    to right,
    #272727 0%,
    #272727 80%,
    #ff9900 50%,
    #ff9900 100%,
    )
}

.date-title {
  position: relative;
  text-align: center;
  font-size: 34px;
  color: #ff9100;
}

.lead-exercise {
  font-size: 1.6rem;
  font-weight: 300;
  color: #ff9900;
  margin: 12px;
}

.motivation {
  position: relative;
  text-align: center;
  left: 2px;
  font-style: italic;
  font-size: 40px;
}

.fa-solid-workout {
  color: orange;
  font-size: 30px;
  margin: auto;
  margin-left: -12px;
  margin-bottom: 30px;
}
.workout-day-title {
  margin: 0;
  color: #ffffff;
  font-size: 4REM;
  letter-spacing: 1px;
  text-align: center;
}

.fa-trash {
  color: red;
}
